body {
    padding: 0;
    margin: 0;
}

.title {
    width: 100%;
    text-align: center;
    background-color: khaki;
}

.iframe-container {
    position: relative;
    height: 0;
    /* padding-bottom: 56.25%; */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.inlineSketch {
    display: flex;
    justify-content: center;
}

.desc {
    text-align: center;
    padding: 10px;
}

/* =============================== */

.solSys {
    width: 100%;
    background-color: lightblue;
}

.solSysSketch {
    width: 800px;
    height: 450px;
    border: thick solid red;
    margin-left: auto;
    margin-right: auto;
}

.solSysDesc {
    padding: 10px;
    text-align: center;
}

/* =============================== */

.phylloSketch {
    width: 500px;
    height: 500px;
    border: thick solid red;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.phyllotaxis {
    width: 100%;
    background-color: lightcoral;
}

.phylloDesc {

}

/* =============================== */

.fractalTree {
    background-color: lightpink;
    border: thick solid green;
}

.fractalTreeSketch {
    width: 400px;
    height: 450px;
    border: thick solid red;
    background: transparent;
    right: 0;
}

.fractalTreeDesc {
    display: inline;
}

/* =============================== */

.phyllotiles {
    width: 100%;
    background-color: teal;
    padding-bottom: 10px;
}

.phyllotilesSketch {
    width: 800px;
    height: 450px;
    border: thick solid red;
    margin-left: auto;
    margin-right: auto;
}

.phyllotilesDesc {

}